.@{class-prefix}-postFixRupees{
    position: relative;
    width: 66% !important;
    margin-right: 10px;
    & .ant-input-number {
      width: 100% !important;  
    }
}

.ant-form-item-control-input-content {
    z-index: 0;
}
.ant-input-number-prefix{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #fff;
}
.@{class-prefix}-dynamicField {
    & > .ant-space-item{
        width: calc(100% / 2 - 5px);
    }
    & .ant-form-item-control-input-content {
        display: flex;
        align-items: center;
    }
}